#mapa{
    border:0;
    width:100%;
    height:350px;
}

#logo{
    border-radius: 49%;
}

#int2{
    width:540px ;
    height:400px;
}

#imagen_fondo{
    background-image: url("/landing/assets/img/about.jpg");
    background-size: cover;
}