#mapa{
    border:0;
    width:100%;
    height:350px;
}

#logo{
    border-radius: 49%;
}

#int1, #int3, #int2{
    width:540px ;
    height:400px;
}

#imagen_fondo{
    background-image: url("/landing/assets/img/about.jpg");
    background-size: cover;
}

#gallery-1, #gallery-2,#gallery-3,#gallery-4,#gallery-5,#gallery-6,#gallery-7,#gallery-8{
    width:550px ;
    height:170px;
}
